<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ngMadLibs</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://code.angularjs.org/1.3.10/angular.js"></script>
</head>
<body ng-app="" ng-init="number=10">
	<header>
		<div id="face-container"><img src="images/happy-face.png" alt="happy face"></div>
		<div id="logo-container"><img src="images/logo.png" alt="logo" id="logo"></div>
	</header>
	<section id="input">
		<p>Provide the following words:</p>
		<!-- no space between divs because browser treats it as text node and adds margin-->
		<div class="column">
			<input type="text" placeholder="Female Name" ng-model="female_name">
			<input type="text" placeholder="Job Title" ng-model="job_title">
			<input type="text" placeholder="Tedious Task" ng-model="tedious_task">
		</div><div class="column">
			<input type="text" placeholder="Dirty Task" ng-model="dirty_task">
			<input type="text" placeholder="Celebrity" ng-model="celebrity">
			<input type="text" placeholder="Useless Skill" ng-model="useless_skill">
		</div><div class="column">
			<input type="text" placeholder="Obnoxious Celebrity" ng-model="obnoxious_celebrity">
			<input type="text" placeholder="Huge Number" ng-model="huge_number">
			<input type="text" placeholder="Adjective" ng-model="adjective">
		</div>
	</section>
	<section id="output">
		<p class="madlibs-text">[{{female_name}}] was a [{{job_title}}] who loved technology. Although she loved parts of her job, she absolutely hated [{{tedious_task}}] and [{{dirty_task}}]. So, [{{female_name}}] met with her life mentor [{{celebrity}}] who told her to learn how to [{{useless_skill}}] with Thinkful. Thinkful didn't offer a course on [{{useless_skill}}] so she studied programming instead.</p>
 
		<p class="madlibs-text">What a great decision! With her new skills, [{{female_name}}] built a(n) [{{adjective}}] robot named [{{obnoxious_celebrity}}] that not only loved [{{dirty_task}}] but did it [{{huge_number}}] times faster.</p>
	</section>
</body>
</html>